
*{
    margin: 0%;
    padding: 0;

}
.Noticias{
    background-color: sandybrown;
}

.conteiner-noticias {
    
    padding: 1rem;
    max-width: 51rem;
    margin: 0 auto;
    text-align: center;
}


.Noticias-card {
    background-color: rgb(247, 196, 152);
    display: inline-block;
    width: 25%;
    height: 15rem;
    padding: 1rem;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 3);
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 1rem;
}
.Noticias-card{
    text-align: left;
}

.texto {
    margin: 1rem;
    text-align: left;
}
.subtitle-fecha{
    color: rgb(143, 104, 71);;
}

.barrita {
    display: inline block;
    background-color: rgb(245, 142, 51);
}

.boton{
    color: white;
    background-color: tomato;
    border-color: tomato;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;  
    
}
.boton:hover,
.boton:active{
    background-color: white;
    color: tomato;
}
.main-header{
    width: 100%;
    background-color: rgb(244, 113, 96);
    padding: 8px 16px;
    height: 3rem;
}
.main-nav{
    text-align: middle;
    vertical-align: middle;
    width: calc(100% -20px);
}
.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0 1rem;
}
.main-nav__item a{
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 3px;
    background: rgb(238, 195, 130);

}